@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.calc-container {
  display: grid;
  width: 27rem;
  height: 25rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin: 10rem auto;
  border: 2px solid white;
}

.output {
  grid-column: 1/5;
  background-color: #b0afaf;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem;
  color: white;
  font-size: 25px;
}

.input-btn {
  border: 1px solid #b0afaf;
  background-color: whitesmoke;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.signs {
  background-color: #ff791f;
}

.zero {
  grid-column: 1/3;
}
